body {
    background: linear-gradient(155deg, #ED1B34 0%, black 100%);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.auth-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
}

input[type="password"], button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

input[type="password"] {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

button {
    background: rgba(255, 255, 255, 0.3);
    color: white;
}

button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.tab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tab button {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin: 5px;
    transition: background 0.3s ease-in-out;
}

.tab button:hover,
.tab button.active {
    background: rgba(255, 255, 255, 0.3);
}

.tab-content {
    display: none;
    width: 90%;
    max-width: 1600px;
    height: auto;
    max-height: 650px;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
}

table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

td {
    width: 23%;
    min-width: 250px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
}

/* Responsive */
@media (max-width: 1366px) {
    .tab-content {
        max-height: 600px;
    }
    iframe {
        height: 450px;
    }
    td {
        width: 31%; /* 3 columnas aprox. */
    }
}

@media (max-width: 1024px) {
    td {
        width: 48%;
    }
}

@media (max-width: 768px) {
    td {
        width: 100%;
    }
    iframe {
        height: 400px;
    }
    .tab {
        flex-direction: column;
        align-items: center;
    }
    .tab button {
        width: 100%;
        text-align: center;
    }
}
